@import 'variables';

body {
  margin: 0px;
  padding: 0px;
  background: #a50909;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.ttf);
}

.contenedor-card {
  width: 400px;
  height: auto;
  background: #166955;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.contenedor-card h2 {
  font-family: "Roboto-Medium";
  color: #7045d3;
}

.contenedor-card p {
  font-family: "Roboto-Regular";
  color: #11052C;
}

.cont-img {
  width: 100%;
  height: 200px;
  background-size: 100%;
  background-position: center;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.cont-img:hover {
  background-size: 160%;
}

#img-a {
  background-image: url(../imagenes/naranja.jpg);
}

#img-b {
  background-image: url(../imagenes/425759-svetik_3840x2400.jpg);
}

.btn-card {
  background: #095a72;
  width: 180px;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  font-family: "Roboto-Light";
  color: #34089c;
}

.btn-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px rgba(160, 21, 21, 0.6);
  box-shadow: 0px 0px 10px rgba(94, 0, 70, 0.6);
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: 0 auto;
}
/*# sourceMappingURL=estilos.css.map */